{
    "extends": ["eslint-config-airbnb-base" ],
    "env": {
        "browser": true,
        "es6": true,
        "jquery": true,
        "webextensions": true
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "rules": {
        "array-bracket-spacing": ["error", "always"],
        "arrow-body-style": "warn",
        "arrow-parens": "off",
        "arrow-spacing": "warn",
        "block-scoped-var": "off",
        "brace-style": ["warn", "1tbs"],
        "camelcase": "warn",
        "class-methods-use-this": "off",
        "comma-dangle": "off",
        "computed-property-spacing": ["error", "never"],
        "consistent-return": "off",
        "dot-notation": "off",
        "eqeqeq": "error",
        "func-names": "off",
        "guard-for-in": "off",
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "lines-around-comment": "off",
        "max-len": "off",
        "no-alert": "error",
        "no-await-in-loop": "off",
        "no-bitwise": "off",
        "no-console": "off",
        "no-continue": "off",
        "no-control-regex": "off",
        "no-global-assign": "off",
        "no-else-return": "off",
        "no-extend-native": "off",
        "no-lonely-if": "off",
        "no-loop-func": "off",
        "no-mixed-operators": "off",
        "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
        "no-multi-spaces": "warn",
        "no-param-reassign": "off",
        "no-plusplus": "off",
        "no-prototype-builtins": "off",
        "no-restricted-globals": "off",
        "no-restricted-syntax": "off",
        "no-return-await": "off",
        "no-tabs": "warn",
        "no-use-before-define": "off",
        "no-useless-escape": "off",
        "no-useless-return": "off",
        "no-var": "off",
        "no-underscore-dangle": "off",
        "no-unused-vars": "warn",
        "object-curly-spacing": ["warn", "always"],
        "object-shorthand": "off",
        "operator-linebreak": ["error", "before"],
        "quote-props": "off",
        "quotes": ["error", "single"],
        "prefer-arrow-callback": "off",
        "prefer-destructuring": "off",
        "prefer-template": "off",
        "semi": ["error", "always"],
        "space-before-blocks": "warn",
        "space-before-function-paren": "off",
        "space-in-parens": ["error", "never"],
        "space-unary-ops": "off",
        "spaced-comment": "off",
        "strict": "off",
        "vars-on-top": "off"
    },
    "globals": {
        "_called": true,
        "_f": true,
        "acceptedOTPFields": true,
        "AssociatedAction": true,
        "Autocomplete": true,
        "browser": true,
        "browserAction": true,
        "createStylesheet": true,
        "DatabaseState": true,
        "EXTENSION_NAME": true,
        "httpAuth": true,
        "Icon": true,
        "isEdge": true,
        "isFirefox": true,
        "IGNORE_AUTOSUBMIT": true,
        "IGNORE_FULL": true,
        "IGNORE_NORMAL": true,
        "IGNORE_NOTHING": true,
        "initColorTheme": true,
        "jQuery": true,
        "keepass": true,
        "keepassClient": true,
        "kpxc": true,
        "kpActions": true,
        "kpxcBanner": true,
        "kpxcCustomLoginFieldsBanner": true,
        "kpxcFields": true,
        "kpxcFill": true,
        "kpxcForm": true,
        "kpxcEvent": true,
        "kpxcIcons": true,
        "kpxcObserverHelper": true,
        "kpxcPasswordDialog": true,
        "kpxcPasswordIcons": true,
        "kpxcSites": true,
        "kpxcTOTPAutocomplete": true,
        "kpxcTOTPIcons": true,
        "kpxcUserAutocomplete": true,
        "kpxcUsernameIcons": true,
        "kpxcUI": true,
        "kpxcUsernameField": true,
        "ManualFill": true,
        "MAX_OPACITY": true,
        "MIN_INPUT_FIELD_OFFSET_WIDTH": true,
        "MIN_INPUT_FIELD_WIDTH_PX": true,
        "MIN_OPACITY": true,
        "MIN_TOTP_INPUT_LENGTH": true,
        "nacl": true,
        "page": true,
        "Pixels": true,
        "sendMessage": true,
        "showNotification": true,
        "siteMatch": true,
        "slashNeededForUrl": true,
        "statusResponse": true,
        "tr": true,
        "trimURL": true,
        "PREDEFINED_SITELIST": true
    }
}
