.kpxcAutocomplete-container {
    display: none;
    z-index: 2147483646;
    position: absolute !important;
    border: var(--kpxc-autocomplete-menu-border);
    border-radius: 8px;
    box-shadow: var(--kpxc-box-shadow);
    overflow: hidden;
    /* this fixes an issue with the border radius not showing up clearly */

    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1em;
}

/* TODO: Remove this as the new popup floats with full rounded corners */
.kpxcAutocomplete-container-on-top {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.kpxcAutocomplete-items {
    max-height: 250px;
    overflow-y: auto;
}

.kpxcAutocomplete-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 12px;
    cursor: pointer;
    background-color: var(--kpxc-background-color);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    width: auto;
    color: var(--kpxc-text-color);
    font-size: max(10px, .9em) !important;
    letter-spacing: normal !important;
    word-spacing: normal !important;
    text-rendering: auto !important;
    text-align: start !important;
}

.kpxcAutocomplete-item--compact {
    padding: 6px;
}

.kpxcAutocomplete-item:last-child {
    border-bottom: none;
}

.kpxcAutocomplete-item__group {
    position: absolute;
    top: 12px;
    right: 12px;
    text-transform: uppercase;
    font-size: .8em;
    pointer-events: none;
    letter-spacing: 0.05em;
}

.kpxcAutocomplete-item__label {
    font-weight: bold;
    pointer-events: none;
    font-size: 1.2em;
}

.kpxcAutocomplete-item__value {
    pointer-events: none;
    margin-top: 4px;
    opacity: .75;
}

.kpxcAutocomplete-active {
    background-color: hsl(134, 61%, 41%) !important;
    color: #ffffff !important;
}

.kpxcAutocomplete-container footer {
    padding: 5px;
    background-color: #ddd;
    border-top: 1px solid rgba(0, 0, 0, .125) !important;
    width: auto;
    color: #000;
    font-size: max(9px, .8em) !important;
    font-style: italic;
}

@media (prefers-color-scheme: dark) {
    .kpxcAutocomplete-container {
        border: var(--kpxc-autocomplete-menu-border);
    }

    .kpxcAutocomplete-items {
        background: var(--kpxc-background-color);
        color: var(--kpxc-text-color);
    }

    .kpxc-pwgen-input {
        background-color: var(--kpxc-input-background-color) !important;
        border: var(--kpxc-input-border);
        border-color: var(--kpxc-input-border-color);
        color: var(--kpxc-text-color) !important;
    }
}
