:root {
    --background-color: #fff;
    --container-border: 1px solid #ccc;
    --input-active-border-color: #2b4d1a;
    --input-background-color: #fff;
    --input-border: 1px solid #2b4d1a;
    --input-border-color: #292a2a;
    --link-color: #6cac4d;
    --link-hover-color: #3a8233;
    --table-hover-color: #f9f9f9;
    --text-color: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #3b3d3c;
        --container-border: 1px solid #000;
        --input-active-border-color: #2b4d1a;
        --input-background-color: #2f2f2f;
        --input-border: 1px solid #2b4d1a;
        --input-border-color: #292a2a;
        --link-color: #8c8c8b;
        --link-hover-color: #3a8233;
        --table-hover-color: #474948;
        --text-color: #cbcfcb;
    }
}

/* Same colors for manual switching */
[data-color-theme='dark'] {
    --background-color: #3b3d3c;
    --container-border: 1px solid #000;
    --input-active-border-color: #2b4d1a;
    --input-background-color: #2f2f2f;
    --input-border: 1px solid #2b4d1a;
    --input-border-color: #292a2a;
    --link-color: #8c8c8b;
    --link-hover-color: #3a8233;
    --table-hover-color: #474948;
    --text-color: #cbcfcb;
}

[data-color-theme='light'] {
    --background-color: #fff;
    --container-border: 1px solid #ccc;
    --input-active-border-color: #2b4d1a;
    --input-background-color: #fff;
    --input-border: 1px solid #2b4d1a;
    --input-border-color: #292a2a;
    --link-color: #6cac4d;
    --link-hover-color: #3a8233;
    --table-hover-color: #f9f9f9;
    --text-color: #000;
}
