:root,
:host {
    --kpxc-autocomplete-footer-color: #f2f2f2;
    --kpxc-autocomplete-menu-border: 1px solid #ddd;
    --kpxc-background-color: #fff;
    --kpxc-box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --kpxc-card-background-color: #fff;
    --kpxc-card-border-color: rgba(0, 0, 0, .125);
    --kpxc-card-header-color: #fafafa;
    --kpxc-checkbox-color: #5b5b5d;
    --kpxc-checkbox-background-color: #2b2a2a;
    --kpxc-container-border: 1px solid #ccc;
    --kpxc-input-active-border-color: #2b4d1a;
    --kpxc-input-background-color: #fff;
    --kpxc-input-border: 1px solid #2b4d1a;
    --kpxc-input-border-color: #292a2a;
    --kpxc-input-main-border-color: rgba(0, 0, 0, .125);
    --kpxc-link-color: #3a8233;
    --kpxc-link-hover-color: #429f14;
    --kpxc-scrollbar-background: #fcfcfc;
    --kpxc-scrollbar-thumb: #8b8b8b;
    --kpxc-sidebar-background-color: #27272a;
    --kpxc-table-border-color: rgb(222, 226, 230);
    --kpxc-table-hover-color: #f2f2f2;
    --kpxc-table-odd-color: #f2f2f2;
    --kpxc-text-color: #000;
    --kpxc-lighter-text-color: rgba(0, 0, 0, 0.8);
    --kpxc-light-text-color: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {

    :root,
    :host {
        --kpxc-autocomplete-footer-color: #2b2a2a;
        --kpxc-autocomplete-menu-border: 1px solid #3b3b3d;
        --kpxc-background-color: #3b3b3d;
        --kpxc-card-background-color: #2b2a2a;
        --kpxc-card-border-color: #292a2a;
        --kpxc-card-header-color: #27272a;
        --kpxc-checkbox-color: #3b3b3d;
        --kpxc-checkbox-background-color: #5b5b5d;
        --kpxc-container-border: 1px solid #000;
        --kpxc-input-active-border-color: #2b4d1a;
        --kpxc-input-background-color: #27272a;
        --kpxc-input-border: 1px solid #2b4d1a;
        --kpxc-input-border-color: #292a2a;
        --kpxc-input-main-border-color: #3b3d3c;
        --kpxc-link-color: #6cac4d;
        --kpxc-link-hover-color: #429f14;
        --kpxc-scrollbar-background: #2c2c2c;
        --kpxc-scrollbar-thumb: #9f9f9f;
        --kpxc-table-border-color: #a0a0a0;
        --kpxc-table-hover-color: #474948;
        --kpxc-table-odd-color: #383a39;
        --kpxc-text-color: #cbcfcb;
        --kpxc-lighter-text-color: rgba(203, 207, 203, 0.8);
        --kpxc-light-text-color: rgba(203, 207, 203, 0.5);
    }
}

/* Same colors for manual switching */
[data-bs-theme='dark'] {
    --kpxc-autocomplete-footer-color: #2b2a2a;
    --kpxc-autocomplete-menu-border: 1px solid #3b3b3d;
    --kpxc-background-color: #3b3b3d;
    --kpxc-card-background-color: #2b2a2a;
    --kpxc-card-border-color: #292a2a;
    --kpxc-card-header-color: #27272a;
    --kpxc-checkbox-color: #3b3b3d;
    --kpxc-checkbox-background-color: #2b2a2a;
    --kpxc-container-border: 1px solid #000;
    --kpxc-input-active-border-color: #2b4d1a;
    --kpxc-input-background-color: #27272a;
    --kpxc-input-border: 1px solid #2b4d1a;
    --kpxc-input-border-color: #292a2a;
    --kpxc-input-main-border-color: #3b3d3c;
    --kpxc-link-color: #6cac4d;
    --kpxc-link-hover-color: #429f14;
    --kpxc-scrollbar-background: #2c2c2c;
    --kpxc-scrollbar-thumb: #9f9f9f;
    --kpxc-table-border-color: #a0a0a0;
    --kpxc-table-hover-color: #474948;
    --kpxc-table-odd-color: #383a39;
    --kpxc-text-color: #cbcfcb;
    --kpxc-lighter-text-color: rgba(203, 207, 203, 0.8);
    --kpxc-light-text-color: rgba(203, 207, 203, 0.5);
}

[data-bs-theme='light'] {
    --kpxc-autocomplete-footer-color: #f2f2f2;
    --kpxc-autocomplete-menu-border: 1px solid #ddd;
    --kpxc-background-color: #fff;
    --kpxc-box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --kpxc-card-background-color: #fff;
    --kpxc-card-border-color: rgba(0, 0, 0, .125);
    --kpxc-card-header-color: #fafafa;
    --kpxc-checkbox-color: #5b5b5d;
    --kpxc-checkbox-background-color: #5b5b5d;
    --kpxc-container-border: 1px solid #ccc;
    --kpxc-input-active-border-color: #2b4d1a;
    --kpxc-input-background-color: #fff;
    --kpxc-input-border: 1px solid #2b4d1a;
    --kpxc-input-border-color: #292a2a;
    --kpxc-input-main-border-color: rgba(0, 0, 0, .125);
    --kpxc-link-color: #3a8233;
    --kpxc-link-hover-color: #429f14;
    --kpxc-scrollbar-background: #fcfcfc;
    --kpxc-scrollbar-thumb: #8b8b8b;
    --kpxc-table-border-color: rgb(222, 226, 230);
    --kpxc-table-hover-color: #f2f2f2;
    --kpxc-table-odd-color: #f2f2f2;
    --kpxc-text-color: #000;
    --kpxc-lighter-text-color: rgba(0, 0, 0, 0.8);
    --kpxc-light-text-color: rgba(0, 0, 0, 0.5);
}
}
