#kpxcDefine-fields {
    z-index: 2147483646;
}

.kpxcDefine-fixed-field {
    background-color: rgba(239,239,239,0.4);
    border: 2px solid #efefef;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    text-align: center;
    z-index: 2147483646;
}

.kpxcDefine-fixed-hover-field {
    border: 2px solid orange;
    background-color: rgba(255,165,239,0.4);
}

.kpxcDefine-fixed-password-field {
    border: 2px solid red;
    background-color: rgba(255,0,0,0.4);
    color: #efefef;
}

.kpxcDefine-fixed-username-field {
    border: 2px solid limegreen;
    background-color: rgba(50,205,50,0.4);
    color: #efefef;
}

.kpxcDefine-fixed-string-field, .kpxcDefine-fixed-totp-field {
    border: 2px solid deepskyblue;
    background-color: rgba(30,144,255,0.4);
    color: #efefef;
}
