.kpxcDefine-modal-backdrop {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2147483645;
}

.kpxcDefine-modal-backdrop:after {
    background-color: #000000;
    bottom: 0;
    content: '';
    filter: alpha(opacity=50);
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
}

#kpxcDefine-fields {
    z-index: 2147483646;
}

#kpxcDefine-description {
    background-color: rgba(0,0,0,0.8);
    border: 2px solid #555555;
    color: #efefef;
    cursor: pointer;
    font-size: 15px;
    height: auto !important;
    left: 150px;
    padding: 7px 5px;
    position: absolute;
    text-align: left;
    top: 100px;
    user-select: none;
    z-index: 2147483646;
}

#kpxcDefine-description div:first-of-type {
    color: #efefef;
    font-weight: bold;
    font-size: 120%;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 0;
    text-align: left;
}

#kpxcDefine-description p {
    border-top: 2px solid #666666;
    color: #efefef;
    line-height: 110%;
    margin-top: 10px;
    padding-top: 10px;
}

#kpxcDefine-help {
    margin-bottom: 3px;
}

.kpxcDefine-keyboardHelp {
    font-size: 0.75em;
    height: auto !important;
}

.kpxcDefine-keyboardHelp kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    color: #333;
    display: inline-block;
    height: auto !important;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.kpxcDefine-chooser-help {
    height: auto !important;
}

.kpxcDefine-fixed-field {
    background-color: rgba(239,239,239,0.4);
    border: 2px solid #efefef;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    text-align: center;
    z-index: 2147483646;
}

.kpxcDefine-fixed-hover-field {
    border: 2px solid orange;
    background-color: rgba(255,165,239,0.4);
}

.kpxcDefine-fixed-password-field {
    border: 2px solid red;
    background-color: rgba(255,0,0,0.4);
    color: #efefef;
}

.kpxcDefine-fixed-username-field {
    border: 2px solid limegreen;
    background-color: rgba(50,205,50,0.4);
    color: #efefef;
}

.kpxcDefine-fixed-string-field, .kpxcDefine-fixed-totp-field {
    border: 2px solid deepskyblue;
    background-color: rgba(30,144,255,0.4);
    color: #efefef;
}
