#kpxcDefine-fields {
    z-index: 2147483646;
}

.kpxcDefine-fixed-field {
    align-items: center;
    background-color: rgba(239,239,239,0.4);
    border: 2px solid #efefef;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    z-index: 2147483646;
}

.kpxcDefine-fixed-field-dark {
    background-color: rgba(45, 45, 45, 0.4);
    border: 2px solid #0f0f0f;
    color: #fff;
}

.kpxcDefine-fixed-hover-field {
    background-color: rgba(255, 165, 238, 0.631);
    border: 2px solid orange;
}

.kpxcDefine-fixed-hover-field-dark {
    background-color: rgba(255, 165, 238, 0.599);
    border: 2px solid orange;
    color: #505050;
}

.kpxcDefine-fixed-password-field {
    background-color: rgba(255,0,0,0.4);
    border: 2px solid red;
    color: #efefef;
}

.kpxcDefine-fixed-username-field {
    background-color: rgba(232, 252, 3, 0.4);
    border: 2px solid yellow;
    color: #efefef;
}

.kpxcDefine-fixed-totp-field {
    background-color: rgba(50,205,50,0.4);
    border: 2px solid limegreen;
    color: #efefef;
}

.kpxcDefine-fixed-string-field {
    background-color: rgba(30,144,255,0.4);
    border: 2px solid deepskyblue;
    color: #efefef;
}

.kpxcDefine-dark-text {
    color: #505050;
}
