.kpxc-pwgen-dialog {
    font-family: 'Lato', sans-serif !important;
    width: 350px;
    min-height: 80px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    z-index: 2147483645;
    padding: .1em .2em .1em .2em;
    position: absolute !important;
}

.kpxc-pwgen-titlebar {
    font-size: 14px !important;
    background-color: #6cac4d;
    color: #fff;
    padding: .4em .2em .4em .8em;
    margin: .2em 0 .2em 0;
    position: relative;
    cursor: move;
}

.kpxc-pwgen-password-row {
    color: #fff;
    padding: .4em 1em;
    margin: .2em 0 .2em 0;
    display: flex;
}

.kpxc-pwgen-nextfill-row {
    font-size: 12px !important;
    color: #000;
    padding: .4em 1em;
    margin: .2em 0 .2em 0;
}

.kpxc-pwgen-buttons {
    color: #fff;
    padding: .4em 1em;
    margin: .2em 0 .2em 0;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kpxc-pwgen-bits {
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: normal !important; 
    text-align: center;
    color: #000;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: .4em;
    border-radius: 4px;
    width: 30%;
    min-width: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-collapse: separate;
    vertical-align: middle;
    white-space: nowrap;
}

.kpxc-pwgen-close {
    color: #fff;
    float: right;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    min-width: 20px;
}

.kpxc-pwgen-close:hover {
    background-color: #6cac4d !important;
    color: #fff;
    cursor: pointer;
}

.kpxc-pwgen-input {
    width: 100%;
    font-size: 12px !important;
    font-weight: normal !important;
}

.kpxc-pwgen-checkbox-label {
    font-style: normal !important;
    font-weight: normal !important;
}

.kpxc #kpxc-pwgen-error {
    color: #000;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-align: center;
    width: 100%;
}

.kpxc-pwgen-icon {
    position: absolute;
    cursor: pointer;
}

.kpxc-pwgen-icon.key {
    background: url('chrome-extension://__MSG_@@extension_id__/icons/key.svg') right no-repeat;
    background-size: contain;
}

.kpxc-pwgen-icon.key-moz {
    background: url('moz-extension://__MSG_@@extension_id__/icons/key.svg') right no-repeat;
    background-size: contain;
}
