.kpxc-pwgen-dialog {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    font-family: 'Lato', sans-serif !important;
    min-height: 80px;
    padding: .1em .2em .1em .2em;
    position: absolute !important;
    width: 350px;
    z-index: 10000000 !important;
}

.kpxc-pwgen-titlebar {
    background-color: #6cac4d;
    color: #fff;
    cursor: move;
    font-size: 12px !important;
    margin: .2em 0 .2em 0;
    padding: .4em .2em .4em .8em;
    position: relative;
}

.kpxc-pwgen-password-row {
    color: #fff;
    display: flex;
    margin: .2em 0 .2em 0;
    padding: .4em 1em;
}

.kpxc-pwgen-buttons {
    align-items: center;
    border-top: 1px solid #ccc;
    color: #fff;
    display: flex;
    justify-content: left;
    padding: .4em 1em;
    margin: .2em 0 .2em 0;
}

.kpxc-pwgen-close {
    color: #fff;
    float: right;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    min-width: 20px;
}

.kpxc-pwgen-close:hover {
    background-color: #6cac4d !important;
    color: #fff;
    cursor: pointer;
}

.kpxc-pwgen-input {
    background: none !important;
    border-radius: 4px !important;
    color: #000 !important;
    font-size: 12px !important;
    font-weight: normal !important;
    height: auto !important;
    padding: 4px !important;
    width: 100% !important;
}

.kpxc-pwgen-checkbox-label {
    font-style: normal !important;
    font-weight: normal !important;
}

.kpxc #kpxc-pwgen-error {
    color: #000;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-align: center;
    width: 100%;
}

.kpxc-pwgen-icon {
    cursor: pointer;
    position: absolute;
}

.kpxc-pwgen-icon.key {
    background: url('chrome-extension://__MSG_@@extension_id__/icons/key.svg') right no-repeat;
    background-size: contain;
}

.kpxc-pwgen-icon.key-moz {
    background: url('moz-extension://__MSG_@@extension_id__/icons/key.svg') right no-repeat;
    background-size: contain;
}
