body {
    padding-top: 20px;
    padding-bottom: 60px;
}

table td {
    width: 100%;
}

input:invalid {
    border: 2px solid red;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 30px 0;
}

/* Custom navbar */
.navbar-default {
    font-family: 'Lato',sans-serif;
    background-color: #6cac4d;
    border: 0px;
    box-shadow: 0 2px 6px 0;
    display: inline-block;
    float: none;
    width: 100%;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    text-align: center;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #5f9f40;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #3a8233;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #3a8233;
}
.navbar-default .navbar-toggle {
    border-color: #3a8233;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #3a8233;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #3a8233;
    }
}

.tab {
    display: none;
}

h2+hr {
    margin-top: 0;
}

#tab-connected-databases .color.dropdown .dropdown-menu {
    width: 180px;
    padding: 7px 10px;
    line-height: 175%;
}

#tab-connected-databases .color.dropdown .dropdown-menu a {
    margin-right: 3px;
}

#tab-connected-databases .color.dropdown a.dropdown-toggle img {
    margin-right: 5px;
}

#manualUrl {
    width: 75%;
}

#defaultGroup {
    width: 50%;
}

tr.clone {
    display: none;
}

td.last-used,
td.created {
    white-space: nowrap;
}

.bold {
    font-weight: bold;
}

.radio.inline,
.checkbox.inline {
    display: inline-block;
    white-space: nowrap;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
    margin-left: 40px;
}

.checkUpdateKeePassXC {
    margin-left: 40px;
}

#dangerousSettings {
    display: none;
}

.panel-title {
    font-size: 14px !important;
}

.panel-group .panel-default .panel-heading {
    background-color: #fff !important;
}
