body {
    background: var(--kpxc-input-background-color) !important;
    color: var(--kpxc-text-color);
    font-size: .875rem;
    padding-top: 20px;
}

input {
    background-color: var(--kpxc-input-background-color);
    border: var(--kpxc-input-border);
    border-color: var(--kpxc-input-border-color);
    color: var(--kpxc-text-color);
}

input:active {
    border-color: var(--kpxc-input-active-border-color);
}

.conf-container {
    margin: 0 auto;
    width: 680px;
    max-height: 315px;
    background-color: var(--kpxc-background-color);
    border: var(--kpxc-container-border);
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    color: var(--kpxc-text-color);
}

.conf-container .conf-title {
    margin: 10px 0 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conf-title #icon {
    width: 3em;
}

.conf-container > hr {
    margin: 10px 0;
}

.conf-content {
    margin: 10px 0 20px 40px;
}

.conf-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.conf-row div:first-child {
    width: 200px;
    margin: 10px;
}

.conf-row button {
    margin-left: 10px;
}

.alert {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    margin: 20px auto;
    width: 680px;
}

@media (prefers-color-scheme: dark) {
    .bg-danger {
        color: #000;
    }
}
